* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #89fffd, #ef32d9);
    display: flex;
    flex-direction: column;
    gap: 5em;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

button {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.1));
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
}

form {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    animation: fadeInUp 1.2s ease-in-out;
    width: 100%;
    max-width: 500px;
}

label {
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    color: #fff;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

input:hover, textarea:hover {
    background: rgba(255, 255, 255, 0.2);
}

input:focus, textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.3);
}

#progress-container {
    margin-top: 20px;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
    appearance: none;
    border-radius: 10px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 0.1);
}

progress::-webkit-progress-value {
    background-color: #00ff99;
    transition: width 0.5s ease;
}

#progress-percent {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
